shared.pokemon-gl.com/patches/customize/pgl_customize_carousel.js
shared.pokemon-gl.com/patches/customize/fonts/HelveticaNeueLT Std Bd Cn.ttf
shared.pokemon-gl.com/patches/customize/fonts/HelveticaNeueLT Std Cn.ttf
shared.pokemon-gl.com/patches/customize/sounds/LEAD.mp3
shared.pokemon-gl.com/patches/customize/sounds/M_CLICK.mp3
shared.pokemon-gl.com/patches/customize/sounds/M_OVER.mp3
shared.pokemon-gl.com/patches/customize/sounds/RHYTHM.mp3
shared.pokemon-gl.com/patches/customize/sounds/sound.swf
shared.pokemon-gl.com/patches/customize/thumbs/cgear/01.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/02.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/03.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/04.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/05.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/06.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/07.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/08.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/09.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/10.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/11.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/12.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/13.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/14.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/15.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/16.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/17.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/18.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/19.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/20.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/21.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/22.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/23.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/24.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/25.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/26.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/27.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/28.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/29.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/30.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/31.png
shared.pokemon-gl.com/patches/customize/thumbs/cgear/32.png
shared.pokemon-gl.com/patches/customize/thumbs/musical/01.png
shared.pokemon-gl.com/patches/customize/thumbs/musical/02.png
shared.pokemon-gl.com/patches/customize/thumbs/musical/03.png
shared.pokemon-gl.com/patches/customize/thumbs/pokedex/01.png
shared.pokemon-gl.com/patches/customize/thumbs/pokedex/02.png
shared.pokemon-gl.com/patches/customize/thumbs/pokedex/03.png
shared.pokemon-gl.com/patches/customize/thumbs/pokedex/04.png
shared.pokemon-gl.com/patches/customize/thumbs/pokedex/05.png
shared.pokemon-gl.com/patches/customize/thumbs/pokedex/06.png
shared.pokemon-gl.com/patches/customize/ui/bg.png
shared.pokemon-gl.com/patches/customize/ui/button-left-invalid.png
shared.pokemon-gl.com/patches/customize/ui/button-left-valid.png
shared.pokemon-gl.com/patches/customize/ui/button-right-invalid.png
shared.pokemon-gl.com/patches/customize/ui/button-right-valid.png
shared.pokemon-gl.com/patches/customize/ui/check.png
shared.pokemon-gl.com/patches/customize/ui/dialogue-confirm.png
shared.pokemon-gl.com/patches/customize/ui/dialogue-nodiff.png
shared.pokemon-gl.com/patches/customize/ui/save-btn.png
shared.pokemon-gl.com/patches/customize/ui/slot-active.png
shared.pokemon-gl.com/patches/customize/ui/slot-empty.png
shared.pokemon-gl.com/patches/customize/ui/slot-inactive-hover.png
shared.pokemon-gl.com/patches/customize/ui/slot-inactive.png
shared.pokemon-gl.com/patches/customize/ui/speaker.png
